doctype
html
    head
        title Sohu
        meta(charset="utf-8")
        meta(name="Keywords",content="搜狐,门户网站,新媒体,网络媒体,新闻,财经,体育,娱乐,时尚,汽车,房产,科技,图片,论坛,微博,博客,视频,电影,电视剧")
           
    link#stylemend(type="text/css",rel="stylesheet",href="")
    body
        div
            ul#ul1.box.aaa(title='add')
                li(ng-repeat="a in arr") 内容
                li adf sddfwerw ertsdfsdfgsdf sdfgsdfgsdfg
                li= a+b